
<nav id="main-nav">
	<ul>
		<li><a class="earth" href="#earth">Welcome</a></li>
		<li><a class="moon" href="#moon">About</a></li>
		<li><a class="rocket" href="#rocket">Pricing</a></li>
		<li><a class="saturn" href="#saturn">Sign Up Today!</a></li>
	</ul>
</nav>

<div id="earth"><img id="img-earth" src="img/earth.png" alt="earth" /></div>
<div id="stars"></div>
<div id="images">
	<img id="img-moon" src="img/moon.png" alt="moon" />
	<img id="img-rocket" src="img/rocket.png" alt="rocket" />
	<img id="img-saturn" src="img/saturn.png" alt="saturn" />
</div><!-- end of "images" -->

<div id="content">
	
	<article id="home">
		<center><h2>Final Frontier Funeral Fund</h2></center>
		<p></p>
	</article>
	
	<article id="moon">
		<h2>Pricing</h2>
		<p>Only $50,000 per seat. We launch when we reach 100 registered <i>Recruits</i></p>
	</article>
	
	<article id="rocket">
		<h2>Rocket Man</h2>
		<p>Don't miss out on the ride of your afterlife</p>
	</article>
	
	<article id="saturn">
		<h2>Sign up today!</h2>

		<div ng-controller="EnlistCtrl">
			<form ng-submit="addRecruit()">
				<input type='text' ng-model="newRecruit.name">
				<input type='submit' value="add">
			</form>

			
			<ul>
				<li ng-repeat="recruit in recruits">
					{{recruit.name}}
				</li>
				<i>{{newRecruit.name}}</i>
			</ul>
		</div>	
	</article>



























